.edit-form--user
    form
        p.form-help Please choose user


        .form-element
            label User first name
            input(
                type='text'
                name="first-name"
            )

        .form-element
            label User last name
            input(
                type='text'
                name="last-name"
            )