
.menu

  ul
    margin 0
    max-height 0
    overflow hidden
    list-style none
    padding-left 20px
    transition all 1s


  .title
    font-size 18px
    cursor pointer

    &:before
      content '▶ '
      font-size 80%
      color green

  &.open
    .title:before
      content '▼ '

    ul
      max-height 200px
